<div class="ui detail modal">
    <i class="close icon"></i>
    <div class="header">Header</div>
    <div class="scrolling content">

        <div class="ui feed">
            <div class="event">
                <div class="label">
                    <img class="avatar">
                </div>
                <div class="content">
                    <div class="summary">
                        <a class="name"></a> 添加了动态
                        <div class="date">
                        </div>
                    </div>
                    <div class="meta">
                        <a class="delete-note">
                            <i class="trash icon"></i> 删除
                        </a>
                    </div>
                    <div class="note-content text">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

